
.form-body {
    background-color: #23394A;
}

.img-holder {
    width: 550px;
    background-color: #000000;
}

.img-holder .bg {
    opacity: 1;
    background-image: url("../img/img2.jpg");
}


.form-body.without-side .form-content .form-button .ibtn {
    background-color: #23394A;
    color: #fff;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}

.form-body.without-side .form-content .form-button .ibtn:hover, .form-body.without-side .form-content .form-button .ibtn:focus {
    -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
}

